body{
    background-color: #1e1e1e;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;

    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.game-content{
    display: flex;
    flex-direction: column;
    gap: 10px;

    align-items: center;

    background-color: #2b2b2b;

    padding: 30px;

    border-radius: 20px;
}

button{
    padding: 10px;
    font-size: 2rem;
    cursor: pointer;
    transition: 250ms;
    border: none;
    border-radius: 50px;
}

button:hover{
    box-shadow: 5px 5px 5px 5px black;
}

button:active{
    box-shadow: none;
}

input{
    padding: 10px;
    border: none;
    border-radius: 20px;
    text-align: center;
    font-size: 2rem;
}

#pkmImg{
    transition: 0.5s;
}