body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: grid;
    background: linear-gradient(to right,red,black,white);
}

.pokemon1{
    display: grid;
    margin: 10px;
    gap: 10px;
    padding: 20px;
    border: 6.7px black solid;
    border-radius: 50px;
    display: flex;
    background-color: aliceblue;
}

.pokemon1 button{
    border-radius: 8%;
    font-size: 1.5rem;
    border: none;
    transition: 250ms;
}

.pokemon1 button:hover{
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.583);
}

.pokemon1 button:active{
    box-shadow: none;
}

.pokemon1 img{
    cursor: pointer;
    border: 2px black solid;
    border-radius: 10px;
}

.pokemon1 input{
    border: none;
    font-size: 1.5rem;
}

.pokemon1 p{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;
    border: 2px black solid;
    padding: 10px;
    border-radius: 10px;
}