body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right,red,black,white);
}

.container{
    gap: 10px;
    margin: 10px;
    padding: 20px;
    border: 6.7px black solid;
    border-radius: 50px;
    display: flex;
    background-color: aliceblue;
}

.container button{
    font-size: 1.5rem;
    border: none;
}

.container img{
    border: 2px black solid;
    border-radius: 10px;
}

.container input{
    border: none;
    font-size: 1.5rem;
}